<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registro de Empleados</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous" />
    <style>
      .edit {
        padding-right: 1.5rem;
      }
    </style>
  </head>
  <body>
    {% load static %}
    <style>
      .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: 1.5rem;
      }
    </style>
    <div class="container">
      <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
          <img style="display: inline-block" src="{% static 'img/unamlogo.png' %}" align="right" alt="" width="74px" />
          <h1 class="display-4 d-block p-2 text-center bg-transparent" style="color: #1d3d75">Registro de Empleados UNAM</h1>
          <p class="lead font-italic d-block p-2 bg-primary text-white text-center">Dirección General de Personal</p>
          <a href="{% url 'logout' %}" align="center" class="btn btn-outline-danger"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
          <p></p>
          {% block content%} {% endblock %}
        </div>
      </div>
    </div>

    <!-- sweetAlert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      function validarPersonal() {
        const Pregunta1 = document.getElementById('Pregunta1');
        const Pregunta2 = document.getElementById('Pregunta2');
        const Pregunta3 = document.getElementById('Pregunta3');
        const Pregunta4 = document.getElementById('Pregunta4');
        const Pregunta5 = document.getElementById('Pregunta5');
        const Pregunta6 = document.getElementById('Pregunta6');
        const p1 = document.getElementById('p1');
        const p2 = document.getElementById('p2');
        const p3 = document.getElementById('p3');
        const p4 = document.getElementById('p4');
        const p5 = document.getElementById('p5');
        const p6 = document.getElementById('p6');
        const Value = document.getElementById('exampleFormControlSelect1').value;
        const Preguntas = document.getElementById('Preguntas');
        if (Value === '1') {
          Preguntas.hidden = false;
          Pregunta1.innerText = 'Lugar de trabajo:';
          p1.hidden = false;
          Pregunta2.innerText = 'Puesto:';
          p2.hidden = false;
          Pregunta3.innerText = 'Horario:';
          p3.hidden = false;
          p4.hidden = true;
          p5.hidden = true;
          p6.hidden = true;
        } else if (Value === '2') {
          Preguntas.hidden = false;
          Pregunta1.innerText = 'Facultad a la que pertenece';
          p1.hidden = false;
          Pregunta2.innerText = 'Nivel de ayudante A o B';
          p2.hidden = false;
          Pregunta3.innerText = 'Porcentaje de Creditos';
          p3.hidden = false;
          Pregunta4.innerText = 'Pasante o Titulado';
          p4.hidden = false;
          Pregunta5.innerText = 'Clase que imparte';
          p5.hidden = false;
          Pregunta6.innerText = 'Horario de clase';
          p6.hidden = false;
        } else if (Value === '3') {
          Preguntas.hidden = false;
          Pregunta1.innerText = 'Facultad en la que imparte clase';
          p1.hidden = false;
          Pregunta2.innerText = 'Nivel de profesor (A, B o C)';
          p2.hidden = false;
          Pregunta3.innerText = 'Horario de la clase';
          p3.hidden = false;
          Pregunta4.innerText = 'Clase que imparte';
          p4.hidden = false;
          Pregunta5.innerText = 'Titulo';
          p5.hidden = false;
          p6.hidden = true;
        } else if (Value === '4') {
          Preguntas.hidden = false;
          Pregunta1.innerText = 'Facultad o instituto al que pertenece';
          p1.hidden = false;
          Pregunta2.innerText = 'Nivel de investigador(A, B o C)';
          p2.hidden = false;
          Pregunta3.innerText = 'Nivel de SNI';
          p3.hidden = false;
          p4.hidden = true;
          p5.hidden = true;
          p6.hidden = true;
        }
      }
      validarPersonal();
    </script>
  </body>
</html>
