{% extends 'employee/base.html' %} {% block content %}
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="nombreCompleto">Nombre completo</label>
    {{form.FullName}}
  </div>
  <div class="form-group">
    <label for="nombreCompleto">CURP</label>
    {{form.CURP}}
  </div>
  <div class="form-group">
    <label for="mobNo">Numero de trabajador</label>
    {{form.mobile_no}}
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="sueldo">Sueldo por mes</label>
        {{form.sueldo}}
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Puesto</label>
        {{form.position}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button type="submit" class="btn btn-success btn-lg btn-block"><i class="fa fa-database" aria-hidden="true"></i> Guardar</button>
    </div>
    <div class="col-md-4">
      <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-lg btn-block"
        ><i class="fa fa-list" aria-hidden="true"></i> Volver a la lista</a
      >
    </div>
  </div>
</form>
{% endblock %}
